.logo {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #3470ff;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.logo1 {
  color: yellowgreen;
}
