@import "@/scss/base/variables.scss";
@import "@/scss/base/mixins.scss";

.overlay {
  background-color: rgba(18, 20, 23, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal_container {
  background-color: $primary-white;
  width: 541px;
  border-radius: 24px;
  padding: 40px;
  position: relative;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 248px;
  border-radius: 14px;
  margin-bottom: 14px;
}

.table_item_upper {
  width: 277px;
  margin-bottom: 14px;
}

.item_title_container {
  font-size: 16px;
  font-weight: 500;
  padding-right: 10px;
  margin-bottom: 8px;
}

.item_title {
  font-size: 18px;
  height: 20px;
  overflow: hidden;
}

.highlight {
  color: $primary-blue;
}

.hash_list {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  row-gap: 4px;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  line-height: 18px;
}

.hash_list > *::after {
  content: " | ";
  margin-left: 6px;
}

.hash_list > :last-child::after {
  content: "";
}

.hash_list_item {
  font-size: 14px;
}

.description_container {
  margin-bottom: 24px;
}

.description {
  font-size: 14px;
}

.accessories_container {
  margin-bottom: 24px;
}
.accessories_title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.rental_container {
  margin-bottom: 24px;
}

.rental_title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}
.rental_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

.rental_list_item {
  padding: 7px 14px;
  border-radius: 35px;
  background-color: $primary_grey;
  font-size: 12px;
}

.button {
  padding: 12px 50px;
  border-radius: 12px;
  background: #3470ff;
  color: $primary-white;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 600;
}
.button:hover {
  background-color: $secondary-blue;
}
