// font
$font-regular: "Manrope", sans-serif;

// colors
$primary-blue: #3470FF;
$secondary-blue: #0B44CD;
$primary-white: #ffffff;
$primary-black: #121417;
$primary_grey: #F9F9F9;
$primary-animation: transform linear 0.3s;
