// font
$font-regular: "Manrope", sans-serif;

// colors
$primary-blue: #3470ff;
$secondary-blue: #0b44cd;
$primary-white: #ffffff;
$primary-black: #121417;
$primary_grey: #f9f9f9;
$primary-green: #31d0aa;
$primary-animation: transform linear 0.3s;
