// font
$font-regular: "Manrope", sans-serif;

// colors
$primary-white: #ffffff;
$primary-black: #121417;
$primary-violet: #b6c3ff;
$primary-black-2: #0f0f0f;
$primary-lite-green: #45ffbc;
$primary-grey: #b6b6b6;
$primary-green-lite: #e3ffa8;
