@import "@/scss/base/variables.scss";
@import "@/scss/base/mixins.scss";

.input_container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.form {
  display: flex;
  gap: 18px;
  align-items: end;
  height: 74px;
}
.form_element {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.submit_button {
    cursor: pointer;
    height: 48px;
    padding: 14px 44px;
    border-radius: 12px;
background: $primary-blue;
color: $primary-white;
transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.submit_button:hover {
    background-color: $secondary-blue;
}
.option_brand {
    padding: 14px 8px 14px 18px;
}
////////////////////////////////
// select {
//     display: none;
// }

// .select_selected {
//     width: 224px;
//     padding-top: 14px;
//     padding-left: 18px;
//     padding-bottom: 14px; 
//     border-radius: 14px;
//     background: #f7f7fb;
//     border: none;
//     font-size: 18px;
//     font-weight: 500; 
//     height: 48px;
//     cursor: pointer;
//     position: relative;

// }
// .select_selected:after {
//     position: absolute;
//     content: "";
//     top: 14px;
//     right: 10px;
//     width: 0;
//     height: 0;
//     border: 6px solid transparent;
//     border-color: #fff transparent transparent transparent;
// }

// .select_selected.select_arrow_active:after {
//     border-color: transparent transparent #fff transparent;
//     top: 7px;
// }
// .select_items div, .select-selected {
//     color: #ffffff;
//     padding: 8px 16px;
//     border: 1px solid transparent;
//     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
//     cursor: pointer;
//     position: relative;
// }

// .select_items {
//     position: absolute;
//     background-color: DodgerBlue;
//     top: 100%;
//     left: 0;
//     right: 0;
//     z-index: 99;
// }

 
// .select_items div:hover, .same-as-selected {
//     background-color: rgba(0, 0, 0, 0.1);
// }
// .select_items {

// }

// .select_hide {

// }
//////////////////////////////
.select_brand { 
    width: 224px;
    padding-top: 14px;
    padding-left: 18px;
    padding-bottom: 14px;
}
.select_price {
    width: 125px;
    padding-top: 14px;
    padding-left: 18px;
    padding-bottom: 14px;
}

.select_from {
    width: 160px;
    padding-top: 14px;
    padding-left: 24px;
    padding-bottom: 14px;
    border-radius: 14px 0px 0px 14px;
border-right: 1px solid rgba(138, 138, 137, 0.20);
}

.select_to {
    width: 160px;
    padding-top: 14px;
    padding-left: 24px;
    padding-bottom: 14px;
    border-radius: 0px 14px 14px 0px;
}
.mileage_select_container {
    display: flex;
}